header{
	border: thick solid red;
}


button{
	cursor: pointer;
	height: 60px;
	width: 100px;

	
}

footer{
	height: auto;
	bottom: 10%;
	/*background-image: url("images/bg_test_ggstyle.jpg");
	background-repeat: no-repeat;*/
	background-size: 1600px 200px;
	height: 200px;
	 

}

main{
	/*background-image: url("images/bg_test_ggstyle.jpg");
	background-repeat: no-repeat;*/
}

h1{
	text-align: center;

}

.cursor{
	cursor: pointer;
}

td {
	width: 120px;
}


#copyright{
	width: 200px;
}