button{
	cursor: pointer;

	
}

footer{
	height: auto;
	bottom: 10%;
	/*background-image: url("images/bg_test_imgmr.png");*/
	height: 200px;
	 

}

h1{
	text-align: center;

}

.cursor{
	cursor: crosshair;
}

body{
	cursor: wait;
}